html,
body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header img {
  width: 175px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

header a {
  color: red;
  font-size: 25px;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  margin-right: 25px;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.main {
  width: 1300px;
  margin: auto;
}

.gradient {
  height: 75px;
  border-radius: 15px;
  padding-bottom: 15px;
  display: flex;
}

.base .gradient {
  background: linear-gradient(to bottom right, rgb(52, 52, 187), rgb(96, 66, 230));
  color: white;
}

.standard .gradient {
  background: linear-gradient(to bottom right, rgb(52, 52, 187), rgb(129, 40, 245));
  color: white;
}

.premium .gradient {
  background: linear-gradient(to bottom right, rgb(52, 52, 187), rgb(255, 45, 45));
  color: white;
}

.pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.base,
.standard,
.premium {
  width: auto;
  border: 1px solid rgb(39, 39, 39);
  padding: 8px;
  margin: 15px;
  border-radius: 15px;
  transition: 0.4s;
}

.basefunctions h3,
.standardfunctions h3,
.premiumfunctions h3 {
  font-size: 15px;
  color: gray;
}

.basefunctions h2,
.standardfunctions h2,
.premiumfunctions h2 {
  font-size: 20px;
}

.pricecategory {
  margin-left: 15px;
  font-size: 20px;
}

.basefunctions,
.standardfunctions,
.premiumfunctions {
  width: auto;
  margin: auto;
  margin-left: 15px;
  margin-right: 15px;
}

.base:hover,
.standard:hover,
.premium:hover {
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.308);
  transform: scale(101%);
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  color: black;
  transition: 0.4s;
}

.buy:hover {
  border: 0 none;
  box-shadow: 1px 1px 5px black;
  background-color: red;
  color: white;
}

.text2 {
  margin-top: 25px;
  padding: 25px;
}

@media screen and (max-width: 1320px) {
  .main {
    width: 90%;
  }
}
@media screen and (max-width: 960px) {
  .basefunctions h3,
  .standardfunctions h3,
  .premiumfunctions h3 {
    font-size: 12px;
  }
  .basefunctions h2,
  .standardfunctions h2,
  .premiumfunctions h2 {
    font-size: 17px;
  }
  .pricecategory {
    font-size: 17px;
  }
}
@media screen and (max-width: 720px) {
  .base,
  .standard,
  .premium {
    margin: 5px;
  }
}
@media screen and (max-width: 600px) {
  .base,
  .standard,
  .premium {
    margin: 0px;
    width: auto;
    border: 0 none;
    border-top: 1px solid black;
  }
  .main {
    width: 100%;
  }
  .text {
    font-size: 15px;
    margin-left: 15px;
  }
  .pricing {
    flex-direction: column;
  }
  .base:hover,
  .standard:hover,
  .premium:hover {
    box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.637);
    transform: none;
  }
}/*# sourceMappingURL=sass.css.map */