@import "_reset-vars";

* {
  font-family: $myfont;
}

body {
  background-image: url($myback);
  background-repeat: repeat;
}

header {
  img {
    width: 250px;
    margin-left: $size1;
  }
}

header {
  display: flex;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

a {
  text-decoration: none;
}

.login {
  color: $col2;
  font-size: 25px;
  background-color: $col5;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  width: 98%;
  text-align: center;
  margin-top: 15px;
}

.form {
  display: flex;
  color: $col2;
  flex-direction: column;
  width: 500px;
  height: auto;
  background-color: rgba($color: $col6, $alpha: 0.7);
  margin: auto;
  padding: 50px;
  margin-top: 50px;
}

.form {
  .inputtext {
    border-radius: 5px;
    padding: 15px;
    color: $col2;
    font-size: 25px;
    margin-top: 15px;
    background-color: rgba($color: $col3, $alpha: 0.5);
    border: $brd2;
  }
}

.forgotpass {
  color: $col2;
  text-decoration: underline;
  font-size: 25px;
  text-align: center;
  margin-top: 15px;
}

::placeholder {
  font-size: 25px;
  color: $col9;
}

.rememb {
  text-align: start;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0;
}

.smallrow {
  display: flex;
  align-items: center;
  margin: 0;
}

.smallrow {
  h2 {
    margin-left: 15px;
  }
}

.register {
  text-decoration: none;
  color: $col2;
  font-size: $myfsize;
}

.register:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1280px) {
  header {
    img {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: none;
    background-color: $col6;
  }

  header {
    align-items: center;
  }

  header {
    img {
      margin-left: 0;
    }
  }

  .form {
    width: auto;
  }
}
